<div xmlns="http://www.w3.org/1999/xhtml" lang="en"	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" >


    <f:layout name="Default" />

    <f:section name="main">

        <f:if condition="{changePasswordNotvalid}">
          <f:then>
            <f:translate key="change_password_notvalid_message"
                         arguments="{0: \"{f:uri.action(pageUid: settings.restorepassword.loginPageUid, absolute: 1, extensionName: 'felogin', controller: '', noCacheHash:1, arguments:{forgot:1})}\"}">
              [change_password_notvalid_message]
            </f:translate>


          </f:then>
          <f:else>
            <f:render partial="Misc/FlashMessages" arguments="{_all}" />
            <f:form name="user" id="restorePasswordForm" object="{user}" action="save" pageUid="1" pageType="{settings.restorepassword.pageType}" arguments="{forgothash:forgothash}" noCacheHash="1" >
              <f:form.validationResults for="{object}">
                  <f:render partial="Fields/Password" arguments="{_all}" />

                  <f:for each="{validationResults.flattenedErrors.user}" as="error">
                     <f:translate key="password_{error.message}">[password_{error.message}]</f:translate>
                     <br>
                  </f:for>

                  <f:render partial="Fields/SubmitUpdate" arguments="{_all}" />
              </f:form.validationResults>
            </f:form>
          </f:else>
        </f:if>
    </f:section>
</div>