/fileadmin/
/typo3temp/
/typo3conf/deprecation*
/typo3conf/mail
index.php
typo3
typo3_src
uploads
nbproject
vendor
.idea
dump.sql
/composer*
gigabonus*.sql

mnogosearch\.php
typo3conf/ENABLE_INSTALL_TOOL
