
<label for="partnerId">
	<f:translate key="tx_gborderapi_domain_model_order.partner_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="partnerId" /><br />
<label for="orderid">
	<f:translate key="tx_gborderapi_domain_model_order.orderid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="orderid" /><br />
<label for="amount">
	<f:translate key="tx_gborderapi_domain_model_order.amount" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="fee">
	<f:translate key="tx_gborderapi_domain_model_order.fee" />
</label><br />
	<f:form.textfield property="fee" /><br />
<label for="status">
	<f:translate key="tx_gborderapi_domain_model_order.status" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="status" /><br />
<label for="userId">
	<f:translate key="tx_gborderapi_domain_model_order.user_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="userId" /><br />
<label for="currency">
	<f:translate key="tx_gborderapi_domain_model_order.currency" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="currency" /><br />
<label for="data">
	<f:translate key="tx_gborderapi_domain_model_order.data" />
</label><br />
	<f:form.textfield property="data" /><br />