.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.error {
    border: 2px solid red;
}

#error-messages {
    color: red;
}

.modal-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: .3
}

.is-reveal-open {

}