.ui-autocomplete {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.error {
    border: 2px solid red;
}

#error-messages {
    color: red;
}

.modal-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: .3
}

.is-reveal-open {

}

.modal-open {
    overflow-y: hidden;
    margin-right:20px;
}

.modal-open-html {
    overflow-y: hidden;
}


.error-text {
    color: #ec5840;
    font-weight: bold;
}


#modalLoginForm {
    background-color: #8cc63e;
}

#modalLoginForm h3 {
    color: #fffffa;
}

#modalLoginForm input {
    height: 3rem;
    font-weight: bold;
    background-color: #aed779;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


.header .columns{
    background-color: #29aae3;
    height: 40px;
}

.top-bar {
    /* height: 40px; */
}

.footer-navi {
    background-color: #656565;
    color: #fdfdfd;
}

.footer-navi a {
    color: #fdfdfd;
}

.footer {
    background-color: #c5c5c5;
}
