{namespace femanager=In2code\Femanager\ViewHelpers}
<f:layout name="Default" />

	User / New
		Available variables:
			{user}
			{allUserGroups}

<f:section name="main">
Non ajax
	<f:render partial="Misc/FlashMessages" arguments="{_all}" />
	<div class="large-4 columns">
		<f:form name="user" id="newUserForm" object="{user}" action="create" noCacheHash="1" class="form-horizontal {f:if(condition:'{settings.new.validation._enable.client}',then:'feManagerValidation',else:'')}">

			<h1><f:translate key="titleCreateProfile" /></h1>

			<f:form.validationResults for="{object}">
			<fieldset>

				<f:for each="{femanager:misc.explode(string:'{settings.new.fields}')}" as="field">
				    <f:render partial="Fields/{femanager:misc.upper(string:'{field}')}" arguments="{_all}" />

					<f:for each="{validationResults.flattenedErrors.user}" as="error">
						<f:if condition="{error.code} == {field}">
							<div><f:translate key="{field}_new_{error.message}">[{field}_new_{error.message}]</f:translate></div>

						</f:if>
					</f:for>

				</f:for>
				<f:render partial="Fields/SubmitCreate" arguments="{_all}" />

			</fieldset>
			</f:form.validationResults>
		</f:form>
	</div>
</f:section>
