<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{justRegistered}">
	  <f:then>
	    <f:render partial="Misc/FlashMessages" arguments="{_all}" />
	    <p>Благодарим за регистрацию. На Ваш адрес электронной почты (E-Mail) было выслано письмо с инструкцией для подтверждения регистрации в системе GigaBonus.
	    Пожалуйста, проверьте Вашу почту и подтвердите регистрацию для полноценного пользования системой.</p>
        <p>Прямо сейчас Вы можете начать собирать бонусы</p>
	  </f:then>
	  <f:else>
		  <p>Ви вже зареєстровані в системі.</p>
	  </f:else>
	</f:if>
</f:section>

