<f:comment>
	PHP Validation Errormessages
</f:comment>

{namespace femanager=In2code\Femanager\ViewHelpers}
<f:form.validationResults for="{object}">
	<f:if condition="{validationResults.flattenedErrors}">
		<div data-closable="" class="callout alert-callout-border alert">
			<f:translate key="profile_save_error" />
			<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    </f:if>
</f:form.validationResults>

