<f:layout name="Default" xmlns:f="http://www.w3.org/1999/html"/>

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">


	<f:if condition="{category}">
		<f:then>
			<f:render partial="Partner/OverviewPage" arguments="{category:category}" />
		</f:then>
		<f:else>
			<f:render partial="Partner/EntryPage" arguments="{partners:partners}" />
		</f:else>
	</f:if>


	<table  class="tx_gbpartner" >
		<tr>
			<th><f:translate key="tx_gbpartner_domain_model_partner.name" /></th>
			<th><f:translate key="tx_gbpartner_domain_model_partner.teaser" /></th>
			<th><f:translate key="tx_gbpartner_domain_model_partner.description" /></th>
			<th><f:translate key="tx_gbpartner_domain_model_partner.image" /></th>
		</tr>

		<f:for each="{category.partners}" as="partner">


			<tr>
				<td><f:link.action action="show" pageUid="{partnerDetailPageUid}" arguments="{partner : partner, category:category.uid}"> {partner.name}</f:link.action></td>
				<td>{partner.teaser}</td>
				<td>{partner.description}</td>
				<td>

				</td>
			</tr>
		</f:for>
	</table>

</f:section>