<f:section name="main">

<div class="reveal" id="modalWindow" data-reveal>

</div>


<div class="row">
    <div class="top-bar">

        <div class="top-bar-left">

            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#">Что такое GigaBonus?</a></li>
                <li>
                    <a href="#">Наши партнёры</a>
                    <ul class="menu vertical">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                    </ul>
                </li>
                <li class="active"><a href="#">Акции</a></li>
            </ul>

        </div>

        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a data-signin-button>Регистрация</a></li>

                <li><a id="login-button">Вход</a>

                    <ul class="menu vertical">
                        <li class="active">
                            <a href="/ru/change-userdata/">Мои личные данные</a>
                        </li>
                        <li>
                            <a href="/ru/change-password/">Изменение пароля</a>
                        </li>
                        <li>
                            <a href="/ru/transaction-list/">Мои бонусы</a>
                        </li>
                        <li>
                            <a href="">Вывод средств</a>
                        </li>
                        <li>
                            <a href="">Выход</a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

    </div>
</div>
</f:section>