<f:section name="main">

<div class="reveal" id="modal-window" data-reveal data-options="closeOnClick:false;closeOnEsc:true" data-animation-out="fade-out"></div>
<!--  data-options="animationIn:true;closeOnClick:false;closeOnEsc:true;" -->

<div class="row">
    <div class="top-bar">

        <div class="top-bar-left">

            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="#">Что такое GigaBonus?</a></li>
                <li>
                    <a href="/ru/partner">Наши партнёры</a>
                    <ul class="menu vertical">
                        <li>
                            <div style="width:800px;height:500px">
                                <f:cObject typoscriptObjectPath="lib.topnavigation.categoryList"/>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="active"><a href="#">Акции</a></li>
            </ul>

        </div>

        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <f:cObject typoscriptObjectPath="lib.topnavigation.myaccount" />
            </ul>
        </div>

    </div>
</div>
</f:section>