<f:section name="main">

<div class="reveal" id="modal-window" data-reveal data-options="closeOnClick:false;closeOnEsc:true"></div>
<!--  data-options="animationIn:true;closeOnClick:false;closeOnEsc:true;" -->

<div class="row">
    <div class="top-bar">

        <div class="top-bar-left">
            <f:cObject typoscriptObjectPath="lib.topnavigation.mainMenu" />
        </div>

        <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
                <f:cObject typoscriptObjectPath="lib.topnavigation.myaccount" />
            </ul>
        </div>

    </div>
</div>
</f:section>