<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:section name="Footer">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row footer-navi">
            <div class="large-10 columns">
                Impressum AGB
                <f:cObject typoscriptObjectPath="lib.footerNavi" />

            </div>
            <div class="large-2 columns">
                &copy; GigaBonus
            </div>
        </div>

        <div class="row footer">
            <div class="large-4 columns">
                spalte 1
            </div>
            <div class="large-6 columns">
                spalte 2
            </div>
            <div class="large-2 columns">
                spalte 3
            </div>
        </div>

    </f:section>
</div>
