<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:pp="http://typo3.org/ns/Productpilot/Ppbase/ViewHelpers">

    <f:section name="Header">
        <div class="row header">
            <div class="small-2 columns">
                Logo
            </div>

            <div class="small-8 columns">
                <input type="text" id="search_field" />
            </div>
            <div class="small-2 columns">
                <f:cObject typoscriptObjectPath="lib.languageSwitch" />
            </div>
        </div>
    </f:section>
</div>