<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:section name="TwoColumnWidthLeftNaviContent">

            <f:render partial="Menu/TopMenu" section="main" arguments="{_all}"/>

            <div class="row">
                <div class="large-3 show-for-large columns">
                    <f:cObject typoscriptObjectPath="lib.page.navigation.sidenavigation" />
                </div>

                <div class="large-9 columns">
                        <f:cObject typoscriptObjectPath="lib.contentDefaultTemplate" />
                </div>
            </div>

	</f:section>
</div>




