<img src="{cid}" />


Здравствуйте, {f:if(condition: '{name} != ""', then: ' {name},' )}<br>
<br>
Вы отправили запрос на восстановление пароля для доступа к Вашему аккаунту в системе GigaBonus. Для того чтобы задать новый пароль, перейдите,
пожалуйста, по <a href="{link}">ссылке</a><br>
<br>
Ссылка действительна в течение {hours} часов.<br>
<br>
<br>
После ввода нового пароля старый пароль будет недействителен.<br>
<br>
<br>
Желаем Вам приятной работы с системой.<br>
<br>
С уважением,<br>
<br>
Администрация системы GigaBonus