
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">



	<div id="transaction-list">
		<h1><f:translate key="tx_gbaccount_domain_model_transaction.my_bonuses"/></h1>

		{bonusBalance}

		<form action="" method="get">
			<f:translate key="tx_gbaccount_domain_model_transaction.start_date" />:  <input type="text" name="startdate" id="startdate" value="{startdate}" readonly/>
			<f:translate key="tx_gbaccount_domain_model_transaction.end_date" />: <input type="text" name="enddate" id="enddate" value="{enddate}" readonly/>
			<input type="submit" value="Search" />
		</form>

		<f:widget.paginate objects="{transactions}" as="paginatedTransactions" configuration="{itemsPerPage: 3, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 5}">

		<table class="tx_gbaccount" >
		  <tr>
			<th><f:translate key="tx_gbaccount_domain_model_transaction.amount" /></th>
			<th>Дата </th>
			<th>Партнёр </th>
			<th> </th>
		  </tr>

		  <f:for each="{paginatedTransactions}" as="transaction">
			<tr>
			  <td><f:link.action action="show" arguments="{transaction : transaction}" noCacheHash="1">{transaction.amount}<f:if condition="{transaction.isOnHold}">*</f:if></f:link.action></td>
			  <td><f:format.date format="d.m.Y">{transaction.crdate}</f:format.date></td>
			  <td>{transaction.partner.name}<br>
				  Номер заказа: {transaction.partnerOrder.partnerOrderId}
			  </td>
			  <td>
                            <f:if condition="{transaction.rejected}">
                                <f:then>
                                    Отменено
                                </f:then>
                                <f:else> 
                                    <f:if condition="{transaction.isOnHold}">В ожидании</f:if>
                                </f:else>
                            </f:if>
                            
                          </td>
			</tr>
		  </f:for>
		</table>

		</f:widget.paginate>
	</div>
</f:section>