{namespace femanager=In2code\Femanager\ViewHelpers}
{namespace gbfemanager=Gigabonus\Gbfemanager\ViewHelpers}

<div class="femanager_fieldset femanager_password control-group">
	<label for="femanager_field_password" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.password" /><span>*</span>
	</label>
	<div class="controls">
		<f:form.password
				id="femanager_field_password"
				property="password"
				class="input-block-level {gbfemanager:highlightErrorField(fieldName:'password', validationResults:validationResults.flattenedErrors.user)}"
				value=""
		/>
	</div>
</div>

<div class="femanager_fieldset femanager_password_repeat control-group">
	<label for="femanager_field_password_repeat" class="control-label">
		<f:translate key="tx_femanager_domain_model_user.password_repeat" /><span>*</span>
	</label>
	<div class="controls">
		<f:form.password
				id="femanager_field_password_repeat"
				name="password_repeat"
				class="input-block-level {gbfemanager:highlightErrorField(fieldName:'password', validationResults:validationResults.flattenedErrors.user)}"
				value=""
		/>
	</div>
</div>
