
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Category</h1>


<ul class="side-nav">
	<f:for each="{categories}" as="category">
		<li class="active">
			<f:link.page pageUid="17" additionalParams="{tx_gbpartner_partnerlisting: '{category : category}'}">{category.name} ({category.partners -> f:count()})</f:link.page>
			<f:if condition="{currentCategory} == {category.uid}">active</f:if>
		</li>
	</f:for>
</ul>

</f:section>