
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div>Listing for Category</div>


<ul class="menu vertical simple">
	<f:for each="{categories}" as="category">
      <f:if condition="{category.partners -> f:count()} > 0">
		<li <f:if condition="{currentCategory} == {category.uid}">class="active"</f:if> >
			<f:link.page pageUid="{partnerDetailPageUid}" additionalParams="{tx_gbpartner_partnerlisting: '{category : category}'}">{category.name} ({category.partners -> f:count()})</f:link.page>
		</li>
      </f:if>    
	</f:for>
</ul>

</f:section>