<f:layout name="Email" />

	Email / CreateUserConfirmation

	This mail will be send to the user, to confirm his new profile.
	It's only activated, if the user-confirm-checkbox in the flexform setting was checked.

	Available variables:
		{user} User Object
		{hash} Hash to ensure authentication of link

<f:section name="main">
	<p><f:translate key="emailCreateUserConfirmationSalutation" />,</p>
	<p>
Спасибо за регистрацию на сервисе
		<f:translate key="emailCreateUserConfirmationText1" />
		<br>

                Для завершения процесса регистрации на сервисе, необходимо подтвердить свою учётную запись, перейдя по ссылке ниже.
		<f:link.action pageUid="{registrationPageId}" action="confirmCreateRequest" lang="1" controller="New" absolute="1" arguments="{user:user, hash:hash, status:'userConfirmation'}">
		    <f:translate key="emailCreateUserConfirmationLinkConfirm" />
		</f:link.action>
	</p>


	<p><f:translate key="emailCreateUserConfirmationSignature" /></p>

Хороших покупок и высоких кэшбэков!

</f:section>