<h1>Наши лучшие партнёры</h1>

<div class="row small-up-1 medium-up-2 large-up-3 partner-items">

    <f:for each="{partners}" as="partner">
        <div class="column">
            <f:comment>{partner}</f:comment>
            <f:link.action action="show" pageUid="{partnerDetailPageUid}" arguments="{partner : partner, category:partner.mainCategory}">
                <div style="position:relative; overflow-y: hidden;height:200px">
                    <f:if condition="{partner.image}">
                        <f:image src="{partner.image.0.reference.uid}" width="269" treatIdAsReference="1" style="width:100%" />
                    </f:if>
                    <div style="position:absolute;bottom:70px;color:black;">
                        {partner.name}
                    </div>
                    <div class="incentive-text" style="width:100%; background-color: rgba(116, 116, 116, 0.8); font-weight: 500;
									  position:absolute;bottom:10px;">
                        <f:format.raw>{partner.incentive}</f:format.raw>
                    </div>
                </div>
                <div style="height: 5rem;background-color: #fff;padding: 10px 10px;font-size:14px">
                    {partner.teaser}
                </div>
            </f:link.action>
        </div>
    </f:for>
</div>