
<table class="tx-gbpartner" >
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.name" />
		</td>
		<td>
		{partner.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.teaser" />
		</td>
		<td>
		{partner.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.description" />
		</td>
		<td>
		{partner.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.image" />
		</td>
		<td>
				<f:image src="{partner.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>