
<table class="tx-gbpartner" >
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.name" />
		</td>
		<td>
		{partner.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.teaser" />
		</td>
		<td>
		{partner.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.description" />
		</td>
		<td>
		<f:format.raw>{partner.description}</f:format.raw>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gbpartner_domain_model_partner.image" />
		</td>
		<td>
                        <f:for each="{partner.image}" as="image" iteration="itemIteration">
					<f:image src="{image.reference.uid}" treatIdAsReference="1" />
					<f:image src="fileadmin{image.original.identifier}"  />
			</f:for>
		</td>
	</tr>
        <tr>
                <td> incentive
                </td>
                <td> <f:format.raw>{partner.incentive}</f:format.raw>
                </td>

        </tr>
        <tr>
                <td> Webiste
                </td>
                <td> {partner.websiteUrl}
                </td>

        </tr>
</table>