<f:layout name="Default" />

<f:section name="main">

    <ul class="dropdown menu" data-dropdown-menu style="font-size:10px">
        <li class="has-submenu">
            <a href="#0"><f:translate key="language_label" /></a>

            <ul class="submenu menu vertical" data-submenu>

                <f:for each="{languagesLinks}" as="languagesLink" key="languageUid">
                    <li>
                        <a href="{languagesLink}" {f:if(condition: '{languageUid} == {currentLanguage}', then: 'class="active"' )} ><f:translate key="language_label_{languageUid}" /> </a>
                    </li>
                </f:for>

            </ul>

        </li>
    </ul>




</f:section>




