{namespace femanager=In2code\Femanager\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers" >
	<f:layout name="Default" />

	User / Edit
	Available variables:
	{user}
	{allUserGroups}

	<f:section name="main">
            <f:link.page pageUid="3" additionalParams="{logintype:'logout'}">Abmelden</f:link.page><br>
            <f:link.action pageUid="15" controller="" noCacheHash="1">Send confirm again</f:link.action>
            
           	<br>

		<p><a data-open="exampleModal1">Click me for a modal</a></p>


		<div class="reveal" id="exampleModal1" data-options="closeOnClick:false;closeOnEsc:false;" data-reveal>
			<h1>Awesome. I Have It.</h1>
			<p class="lead">Your couch. It is mine.</p>
			<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
			<button class="close-button" data-close aria-label="Close modal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>


		<f:render partial="Misc/FlashMessages" arguments="{_all}" />


		<div class="femanager_new">
			<f:if condition="{user}">
				<f:then>


					<f:form name="user" id="changeUserdataForm" object="{user}" action="update" pageUid="1" additionalAttributes="{data-languageid : '{languageUid}'}" pageType="{settings.edit.pageType}" class="form-horizontal {f:if(condition:'{settings.edit.validation._enable.client}',then:'feManagerValidation',else:'')}" noCacheHash="1">


							<f:form.validationResults for="{object}">
							<fieldset>
								<legend>
									<f:translate key="titleUpdateProfile" />
								</legend>
										<f:for each="{femanager:misc.explode(string:'{settings.edit.fields}')}" as="field">
											<f:render partial="Fields/{femanager:misc.upper(string:'{field}')}" arguments="{_all}" />

											<f:for each="{validationResults.flattenedErrors.user}" as="error">
												<f:if condition="{error.code} == {field}">
													<f:translate key="{field}_{error.message}">[{field}_{error.message}]</f:translate>
												</f:if>

												<f:if condition="{error.code} == 'cityId'">
													<f:if condition="{field} == 'city'">
														<f:translate key="cityId_validationErrorRequired">[cityId_validationErrorRequired]</f:translate>
													</f:if>
												</f:if>

											</f:for>

										</f:for>
										<f:render partial="Fields/SubmitUpdate" arguments="{_all}" />

							</fieldset>

							</f:form.validationResults>
					</f:form>



				</f:then>
				<f:else>
					<div class="femanager_note">
						<f:translate key="notLoggedIn" />
					</div>
				</f:else>
			</f:if>
		</div>


	</f:section>

</div>
